@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-color: blue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .tab-4 {
    tab-size: 4;
  }
}

.my-class {
  background-color: theme(colors.red);
}

@media (width >= theme(screens.xl)) {
  background-color: #fff;
}
